<cas:serviceResponse xmlns:cas='http://www.yale.edu/tp/cas'>
    <cas:authenticationSuccess>
        <cas:user>{{.Username}}</cas:user>
        <cas:attributes>
            <cas:id>2</cas:id>
        </cas:attributes>
    </cas:authenticationSuccess>
</cas:serviceResponse>